[mysqld]
# Set the character set for the server
character-set-server=utf8mb4

# Set the default collation for the server
collation-server=utf8mb4_unicode_ci

# Set the default time zone for the server
default-time-zone=UTC

# Set the maximum allowed packet size
max_allowed_packet=64M

# Set the default storage engine
default_storage_engine=InnoDB

# Set the default transaction isolation level
transaction-isolation=READ-COMMITTED

# Set the innodb_buffer_pool_size to 50% of available memory
innodb_buffer_pool_size=256M